<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello TomatoTracker!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.bundle.min.js") %>"></script>

    <script type="text/javascript">
      function generateEditOnClick(target, id) {
        return function(event) {
          alert(target);
          alert(id);
          // target = tomato, task, event; grab the right one and open the right edit modal with the right default values

          event.stopPropagation();
          event.preventDefault();
        };
      }

      function generateDeleteOnClick(target, id) {
        return function(event) {
          alert(target);
          alert(id);
          // send delete request for target+id

          event.stopPropagation();
          event.preventDefault();
        };
      }
    </script>
  </body>
</html>
