/* This file is for your main application css. */

a {
  color: inherit !important;
  text-decoration: inherit !important;
}

section {
  margin-bottom: 60px;
}

.list-group-item {
  min-height: 42px;
}

.list-depth-1 {
  margin-left: 20px;
}

.list-depth-2 {
  margin-left: 40px;
}

.list-group-item-action:hover {
  border-color: #007bff;
}

.delete-button:hover {
  transition: background-color 0.3s;
  background-color: rgba(220, 53, 69, 0.2);
}

.edit-button:hover {
  transition: background-color 0.3s;
  background-color: rgba(255, 193, 7, 0.3);
}

.collapse-button:hover {
  
}

.badge {
  color: white;
  position: absolute;
  top: 50%;
  height: 18px;
  right: 0;
  margin-top: -0.6rem;
}

.btn-primary {
  color: white !important;
}

@media (min-width: 580px) {
  .badge {
     margin-right: -35px;
  }
}
