/* This file is for your main application css. */

a {
  color: inherit !important;
  text-decoration: inherit !important;
}

.list-group-item {
  min-height: 42px;
}

.list-depth-1 {
  margin-left: 20px;
}

.list-depth-2 {
  margin-left: 40px;
}

li.contains-link {
  padding: 0;
}

li.contains-link:hover {
  padding: 0;
  background-color: #337ab7;
}
.li-link {
  display: flex;
  padding: 10px 15px;
  width: 80%;
}

.li-link:hover {
  color: white !important;
}

.li-badge {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  color: white;
}

.btn-primary {
  color: white !important;
}
